<footer class="group js-footer" id="footer" role="contentinfo">

    <div class="footer-wrapper">
        <div class="footer-meta">
            <div class="footer-meta-inner">
                <ul>
                    <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government
                        Digital Service</a></li>
                </ul>


                <div class="open-government-licence">
                    <h2><a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2"><img
                            src="/media/assets/open-government-licence_2x.png" alt="OGL"></a></h2>

                    <p>All content is available under the <a
                            href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2">Open
                        Government Licence v2.0</a>, except where otherwise stated</p>
                </div>
            </div>

            <div class="copyright">
                <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">©
                    Crown copyright</a>
            </div>
        </div>
    </div>
</footer>

<!--end footer-->
    